#bar {
  background-color: @surface;
  padding: 3px;
}

#bar label {
  font-weight: bold;
}

/*
 * ── bar moudles ───────────────────────────────────────────────────────
*/

#start-container,
#center-container,
#end-container {
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 12px;
  margin-right: 12px;
}

/*
 * ── workspace ─────────────────────────────────────────────────────────
*/

#workspaces {
  border-radius: 100px;
  font-style: normal;
  background: @surfaceContainer;
  padding: 0px 10px 0px 10px;
}

/*
 * ── Clock ─────────────────────────────────────────────────────────────
*/

#datetime {
  background-color: @surfaceContainer;
  border-radius: 100px;
  padding: 8px;
}

/*
 * ── battery ───────────────────────────────────────────────────────────
*/

#battery {
  background-color: @surfaceContainer;
  border-radius: 100px;
  padding: 2px 10px 2px 10px;
}

#battery label {
  color: @onSurface;
  font-size: 16px;
  font-weight: 300;
}

#battery .icon {
  color: @onSurface;
}

#battery.critical {
  background-color: @error;
}

#battery.critical label,
#battery.critical .icon {
  color: @onError;
}

/*
 * ── tray ──────────────────────────────────────────────────────────────
*/

#tray {
  background-color: @surfaceContainer;
  border-radius: 100px;
  padding: 2px 10px 0px 10px;
}

#tray > button {
  margin: 0px;
  padding: 0px;
}

menu {
  background-color: @surfaceContainer;
}

menu > menuitem {
  border-radius: 12px;
  padding: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

menu > menuitem:hover {
  background-color: mix(@onSurface, @surface, 0.85);
}

/*
 * ── applets ───────────────────────────────────────────────────────────
*/

#applets {
  background-color: @surfaceContainer;
  border-radius: 100px;
  padding: 2px 10px 2px 10px;
  margin: 0px;
}

#applets .icon {
  color: @onSurface;
  font-weight: 900;
}

#applets > button {
  color: @onSurface;
  margin: 0px;
  padding: 0px;
}

/*
 * ── taskbar ───────────────────────────────────────────────────────────
*/

#taskbar {
  border-radius: 100px;
  font-weight: bold;
  font-style: normal;
  color: @onSurface;
  background: @surfaceContainer;
  padding-left: 4px;
  padding-right: 4px;
}

#taskbar .activated {
  border-radius: 100px;
  background: @surfaceVariant;
}

#taskbar > button {
  padding: 0px 4px;
  margin: 4px 0px;
  border-radius: 100px;
  border: 0px;
}
#taskbar > button:last-child {
  margin-right: 0px;
}

#progress {
  color: lighter(@outlineVariant);
  border: 2px solid @onSecondaryContainer;
}

/*
 * ── system tray ───────────────────────────────────────────────────────
*/

#system-tray {
  background-color: @surfaceContainer;
  border-radius: 100px;
  padding: 2px 10px 0 10px;
}

#system-tray > button {
  margin: 0px;
  padding: 0px;
}

#system-tray-menu > menuitem menu,
#system-tray-menu {
  background-color: @surfaceContainer;
  border-radius: 12px;
  padding: 10px;
}

#system-tray-menu > menuitem menu > menuitem,
#system-tray-menu > menuitem {
  margin: 5px 0px;
  background-color: @surfaceContainer;
  padding: 0.3em 0.5em;
  border-radius: 10px;
}

#system-tray-menu > menuitem menu > menuitem:disabled,
#system-tray-menu > menuitem:disabled {
  background-color: transparent;
}

#system-tray-menu > menuitem menu > menuitem:hover,
#system-tray-menu > menuitem:hover,
#submenu-button:hover {
  background-color: mix(@onSurface, @surface, 0.85);
}
