#launcher {
  margin: 18px;
  border: 1px solid @outlineVariant;
  background-color: @surface;
  border-radius: 24px;
  padding: 18px;
  transition: all 0.5s cubic-bezier(0.5, 0.25, 0, 1);
}

#launcher entry {
  transition: all 0.1s ease;
  border-radius: 11px;
  padding: 10px;
  margin: 12px;
  box-shadow: inset 0 0 0 1px @outlineVariant;
}

#launcher entry:focus {
  background-color: @background;
}

#launcher entry:hover {
  background-color: @background;
}

#launcher entry selection {
  color: @outline;
  background-color: transparent;
}

#launcher-content.wallpapers {
  padding: 16px;
  min-height: 420px;
  min-width: 620px;
}

#app-launcher,
#wallpapers,
#power-menu {
  transition: all 0.25s cubic-bezier(0.5, 0.25, 0, 1);
}

#close-button {
  background-color: @surface;
  border-radius: 100px;
  padding: 10px;
}

#close-button:hover,
#close-button:focus {
  border-radius: 100px;
  background-color: @errorContainer;
}
