#launcher {
  margin: 18px;
  border: 1px solid @outlineVariant;
  background-color: @surface;
  border-radius: 24px;
  padding: 18px;
  min-width: 480px;
}

#launcher entry {
  transition: all 0.1s ease;
  border-radius: 11px;
  padding: 10px;
  margin: 12px;
  box-shadow: inset 0 0 0 1px @outlineVariant;
}

#launcher entry:focus {
  background-color: @background;
}

#launcher entry:hover {
  background-color: @background;
}

#launcher entry selection {
  color: @outline;
  background-color: transparent;
}

#profile-pic {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100px;
  padding: 20px;
  margin: 4px;
}

#launcher button#app-item {
  border-radius: 11px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  transition: 200ms;
  padding: 7px;
}

#launcher button#app-item:hover #title,
#launcher button#app-item:focus #title {
  color: @primar;
}

#launcher button#app-item:hover #description,
#launcher button#app-item:focus #description {
  color: @inversePrimary;
}

#launcher button#app-item:hover image,
#launcher button#app-item:focus image {
  -gtk-icon-shadow: 2px 2px @primary;
}

#launcher button#app-item:active {
  background-color: @primaryContainer;
  border-radius: 11px;
  box-shadow: inset 0 0 0 1px rgba(158, 142, 130, 0.04);
}

#launcher button#app-item:active #title {
  color: @foreground;
}

#launcher button#emoji-item {
  border-radius: 11px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  padding: 0px;
}

#launcher button#emoji-item:disabled {
  color: mix(@onSurface, transparent, 0.38);
}

#launcher button#emoji-item label {
  font-size: 24px;
}

#launcher button#emoji-item:hover,
#launcher button#emoji-item:focus {
  text-shadow: 2px 2px 2px @primary;
}

#launcher button#cliphist-img-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  min-width: 70px;
  min-height: 70px;
}

#launcher button#cliphist-img-item:hover,
#launcher button#cliphist-img-item:focus {
  box-shadow: 2px 2px 2px @primary;
}

#launcher button#launcher-item {
  border-radius: 11px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}

#launcher button#launcher-item:disabled {
  color: mix(@onSurface, transparent, 0.38);
}

#launcher button#launcher-item:hover,
#launcher button#launcher-item:focus {
  text-shadow: 2pt 2pt 2pt @primary;
}

#launcher button#wall-item {
  border-radius: 0px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  padding: 5px;
}

#launcher button#wall-item:disabled {
  color: mix(@onSurface, transparent, 0.38);
}

#launcher button#wall-item:hover,
#launcher button#wall-item:focus {
  box-shadow: 2pt 2pt 2pt @primary;
}

.activated {
  background-color: @surfaceVariant;
  border-radius: 100px;
}
