#notification {
  padding: 16px;
  border: solid 1px @outlineVariant;
  border-radius: 20px;
  margin-bottom: 12px;
  background-color: @surfaceContainerLow;
  min-width: 350px;
}

.notification-header .summary {
  font-size: 0.92rem;
  font-weight: bold;
}

.notification-body .body {
  color: darker(@foreground);
  font-weight: 600;
  font-size: 0.92rem;
}

#notification .close-button:hover {
  background: alpha(@foreground, 0.2);
  transition: background 0.15s ease-in-out;
  border-radius: 100px;
}

#notification-action-button button.start-action {
  margin-left: 0;
}

#notification-action-button button.end-action {
  margin-right: 0;
}

#notification-action-buttons button {
  padding: 0.6rem;
  font-weight: 600;
  border-radius: 100px;
  background-color: transparent;
}
#notification-action-buttons button:hover {
  background-color: lighter(@outlineVariant);
}

#notification-icon {
  margin-right: 5px;
}
