#powermenu-button {
  border-radius: 20px;
  padding: 20px;
}

#powermenu-button:hover,
#powermenu-button:focus {
  background-color: mix(@onSurface, @surface, 0.8);
}

#powermenu-button:hover label,
#powermenu-button:focus label {
  color: @primary;
}

#powermenu-button:active {
  background-image: radial-gradient(
    circle,
    mix(@onSurfaceVariant, transparent, 0.7) 10%,
    transparent 0%
  );
}

#powermenu-button:active label {
  color: @shadow;
}
