@use "sass:color";
<* for name, value in colors *>
${{name}}: {{value.default.hex}};
<* endfor *>


$theme: 'dark';
$surface_transparent: color.scale($surface, $alpha: -20%);
$inverse_surface_transparent: color.scale($inverse_surface, $alpha: -92%);
$inverse_surface_transparent_variant: color.scale(
  $inverse_surface,
  $alpha: -82%
);
$inverse_surface_transparent_overlay: linear-gradient(0deg, $inverse_surface_transparent, $inverse_surface_transparent);
$inverse_surface_transparent_variant_overlay: linear-gradient(0deg, $inverse_surface_transparent_variant, $inverse_surface_transparent_variant);
