#shell-command-launcher-box button#sh-item {
  border-radius: 11px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  padding: 0px;
}
#shell-command-launcher-box button#sh-item {
  font-size: 24px;
}

#shell-command-launcher-box button#sh-item:hover,
#shell-command-launcher-box button#sh-item:focus {
  text-shadow: 2px 2px 2px @primary;
}
