
@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

@define-color noti-border-color @pink;
@define-color notify-bg @surface0;
@define-color black-bg rgba(30, 30, 46, 0.85);
@define-color black-bg-alt #181825;
/* @define-color black-bg-center rgba(30, 30, 46, 0.5); */
@define-color black-bg-hover #6c7086;
@define-color text-color #cdd6f4;
@define-color text-color-alt #a6adc8;
@define-color text-color-disabled rgba(150, 150, 150, 0.8);
/* @define-color highlight-color; */

* {
     font-family: "CaskaydiaCove Nerd Font Mono";
    font-weight: Bolder;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
    opacity: 1;
    background: @black-bg;
    border-radius: 10px
}

.notification-row {
    outline: none;
    margin: 0px;
}
.notification.critical .summary {
    font-size:2rem;
    margin:10px;
    padding-left:20px;
}
.notification.critical {
    border: 2px solid @red;
}
.notification {
	border-radius: 10px;
}

.notification-content{
	color: @text-color;
    background: @notify-bg;
    padding: 3px 10px 3px 6px;
    border-radius: 10px;
    border: 2px solid @mauve;
    margin: 0px;
}

.notification-default-action {
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

.close-button {
    background: #eba0ac;
    color: @black-bg;
    text-shadow: none;
    padding: 0;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
}

.close-button:hover {
    box-shadow: none;
    background: #eba0ac;
    transition: all .15s ease-in-out;
    border: none
}


.notification-action {
    border: 2px solid @noti-border-color;
    border-top: none;
    border-radius: 10px;
}


.notification-default-action:hover,
.notification-action:hover {
    color: @text-color;
    background: @color1
}

.notification-default-action {
    border-radius: 10px;
    margin: 5px;
}

.notification-default-action:not(:only-child) {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px
}

.notification-action:first-child {
    border-bottom-left-radius: 10px;
    background: #1e1e2e
}

.notification-action:last-child {
    border-bottom-right-radius: 10px;
    background: #1e1e2e
}

.inline-reply {
    margin-top: 8px
}

.inline-reply-entry {
    background: @black-bg;
    color: @text-color;
    caret-color: @text-color;
    border: 1px solid @noti-border-color;
    border-radius: 10px
}

.inline-reply-button {
	font-size: 0.5rem;
    margin-left: 4px;
    background: @black-bg;
    border: 1px solid @noti-border-color;
    border-radius: 10px;
    color: @text-color
}

.inline-reply-button:disabled {
    background: initial;
    color: @text-color-disabled;
    border: 1px solid transparent
}

.inline-reply-button:hover {
    background: @black-bg-hover
}

.body-image {
    margin-top: 6px;
    color: @text-color-alt;
    border-radius: 10px
}

.summary {
    font-size: 1.15rem;
    /* font-weight: 200; */
    background: transparent;
    color: @text-color-alt;
    text-shadow: none
}

.time {
    font-size: 1rem;
    /* font-weight: 200; */
    background: transparent;
    color: @text-color;
    text-shadow: none;
    margin-right: 18px
}

.body {
    font-size: 1rem;
    /* font-weight: 200; */
    background: transparent;
    color: @text-color;
    text-shadow: none
}

.control-center {
    background: @black-bg;
    border: 2px solid @noti-border-color;
    border-radius: 8px;
}

.control-center-list {
    background: transparent
}

.control-center-list-placeholder {
    opacity: 0.5
}

.floating-notifications {
    background: transparent;
}

.blank-window {
    background: alpha(black, 0.1)
}

.widget-title {
    color: @noti-border-color;
    background: @black-bg-alt;
    padding: 3px 6px;
    margin: 5px;
    font-size: 1rem;
    border-radius: 10px;
}

.widget-title>button {
    font-size: 0.75rem;
    color: @text-color;
    border-radius: 10px;
	background: transparent;
	border: 0.5px solid @noti-border-color;
}

.widget-title>button:hover {
    background: #f7768e;
    color: @noti-border-color;
}

.widget-dnd {
    background: @black-bg-alt;
    padding: 3px 6px;
    margin: 5px;
    border-radius: 10px;
    font-size: 1rem;
    color: @noti-border-color;
}

.widget-dnd>switch {
    border-radius: 10px;
    /* border: 1px solid #7aa2f7; */
    background: @notify-bg;
}

.widget-dnd>switch:checked {
    background: @mauve;
    border: 1px solid @mauve;
}

.widget-dnd>switch slider {
    background: @mauve;
    border-radius: 10px
}

.widget-dnd>switch:checked slider {
    background: @black-bg;
    border-radius: 10px
}

.widget-label {
    margin: 5px;
}

.widget-label>label {
    font-size: 1rem;
    color: @text-color;
}

.widget-mpris {
    color: @text-color;
    background: @black-bg-alt;
    padding: 3px 6px;
    margin: 5px;
    border-radius: 10px;
}

.widget-mpris > box > button {
    border-radius: 10px;
}

.widget-mpris-player {
    padding: 3px 6px;
    margin: 5px;
}

.widget-mpris-title {
    /* font-weight: 100; */
    font-size: 1rem
}

.widget-mpris-subtitle {
    font-size: 0.75rem
}

.widget-buttons-grid {
    font-size: 20px;
	color: @noti-border-color;
    padding: 2px;
    margin: 5px;
    padding-left:15px;
    padding-right:15px;
    border-radius: 10px;
    background: @black-bg-alt;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
    margin: 1px;
    background: @black-bg;
    border-radius: 10px;
    color: @text-color
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
    background: rgba(122, 162, 247, 0.1);
    color: @text-color-alt
}

.widget-menubar>box>.menu-button-bar>button {
    border: none;
    background: transparent
}

.topbar-buttons>button {
    border: none;
    background: transparent
}

.widget-volume {
    background: @black-bg-alt;
    padding: 2px;
    margin: 10px 10px 5px 10px;
    border-radius: 10px;
    font-size: x-large;
    color: @text-color
}

.widget-volume>box>button {
    background: #7aa2f7;
    border: none
}

.per-app-volume {
    background-color: @black-bg;
    padding: 4px 8px 8px;
    margin: 0 8px 8px;
    border-radius: 10px;
	color: @text-color
}

.widget-backlight {
    background: @black-bg-alt;
    padding: 5px;
    margin: 10px 10px 5px 10px;
    border-radius: 10px;
    font-size: x-large;
    color: @text-color
}

.low {
  background: @text-color;
  padding: 0px;
  border-radius: 10px;
}

.normal {
  background: @text-color;
  padding: 0px;
  border-radius: 10px;
}

.critical {
  background: red;
  padding: 0px;
  border-radius: 10px;
}
