
* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
	min-height: 0;
    /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
    font-size: 97%;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
    padding: 1px;
}

window#waybar {
    background: transparent;
    border-radius: 0px;
    color: #cba6f7;

}

window#waybar.hidden {
    opacity: 0;
}

window#waybar.empty {
    /*background-color: #040406;*/
    background-color: transparent;
}

window#waybar.empty #window {
    padding: 0px;
    border: 0px;
    /*  background-color: rgba(66,66,66,0.5); */
    /* transparent */
    background-color: transparent;
}


tooltip {
    background: #1e1e2e;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #e9e9e9;
    color: #ffffff;
}

/*-----module groups----*/
.modules-right {
    background-color: black;
    border-bottom:1px solid white;
    border-radius:10px;
	padding-top: 2px;
	padding-bottom: 0px;
	padding-right: 4px;
	padding-left: 4px;

}

.modules-center {
    background-color: black;
    border-radius:10px;
    border-bottom:1px solid white;
    /*border-right: 2px solid #ffd700;*/
    /*border:@teal-trans;*/
	padding-top: 2px;
	padding-bottom: 4px;
	padding-right: 4px;
	padding-left: 4px;
}

.modules-left {
    background-color: black;
    border-radius:10px;
    border-bottom: 1px solid white;
	padding-top: 2px;
	padding-bottom: 3px;
	padding-right: 4px;
	padding-left: 4px;
}

#workspaces {
    margin: 1px 1px 1px 1px;
    padding: 0px 1px;
    border-radius: 10px;
    border:1px solid #F3594B;
    font-weight: bold;
    font-style: normal;
    opacity:0.8;
}
#workspaces button {
    color: white;
    box-shadow: none;
	text-shadow: none;
    padding: 2px;
    border-radius: 30px;
    padding-left: 2px;
    padding-right: 2px;
    /*animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);*/
}

#workspaces button.active {
    color: #619A96;
    border-radius: 50%;
    background-color: black;
    border-radius: 15px 15px 15px 15px;
    padding-left: 2px;
    padding-right: 2px;
    color: yellow;
}

#workspaces button.focused {
    color: white;
}

#workspaces button.urgent {
    color: #11111b;
    border-radius: 10px;
}

#workspaces button:hover {
    color: #B1B946;
    border-radius: 10px;
 	padding-left: 2px;
    padding-right: 2px;
}

#clock#1 {
    color: #B1B946;
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#pulseaudio,
#pulseaudio-slider,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-cava_mviz,
#custom-cycle_wall,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-menu,
#custom-power_vertical,
#custom-power_profile,
#custom-power,
#custom-swaync,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
    color: #E0CDA5;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 6px;
	padding-left: 6px;
}

#temperature.critical {
    background-color: #DB4740;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

#taskbar button.active {
    background-color: rgb(47, 46, 46);
    padding-left: 2px;
    padding-right: 2px;
}

#taskbar button:hover {
    padding-left: 2px;
    padding-right: 2px;
}

#battery.critical:not(.charging) {
    color: #DB4740;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio-slider slider {
    min-width: 0px;
    min-height: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-width: 80px;
    min-height: 5px;
    border-radius: 5px;
    background-color: #22252a;
}

#pulseaudio-slider highlight {
    min-height: 10px;
    border-radius: 5px;
    background-color: #ba5663;
}

#backlight-slider slider {
    min-width: 0px;
    min-height: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#backlight-slider trough {
    min-width: 80px;
    min-height: 10px;
    border-radius: 5px;
    background-color: #22252a;
}

#backlight-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: #ba5663;
}
#pulseaudio-slider,
#pulseaudio {
	color: #E0CDA5;
}

#pulseaudio.muted {
    color: #47423E;
}


#cpu,
#memory,
#disk,
#temperature,
#lock {
        color: #DF9238;
}

#temperature.critical {
    background-color: #DB4740;
}
#battery.critical:not(.charging) {
    color: #DB4740;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#battery.charging {
	color: #B1B946;
}
#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 5px;
	border-radius: 5px;
}

#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 5px;
}
#backlight-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#backlight-slider trough {
	min-width: 80px;
	min-height: 10px;
	border-radius: 5px;
}

#backlight-slider highlight {
	min-width: 10px;
	border-radius: 5px;
}

#clock {
	color: #B1B946;
}
#custom-updates {
    color: #DF9238;
}
#swaync{
    color: #ffd700;}

#custom-menu {
    color: #DB4740;
}

#window{
    color: #C27491;
}

#mpris{
    color: white;
}

#custom-power_profile {
    font-size: 16px;
    margin-bottom: 2px;
    color: #619A96;
}
