/* we can use webcss variables, fabric compiles that to gtk css.
   global variables can be stored in :vars */
:vars {
  --background: #150d16;
  --foreground: #f5dbc4;
  --color0: #150d16;
  --color1: #72448d;
  --color2: #9c5995;
  --color3: #d5719f;
  --color4: #9a62f3;
  --color5: #e075df;
  --color6: #f98f9f;
  --color7: #f5dbc4;
  --color8: #ab9989;
  --color9: #72448d;
  --color10: #9c5995;
  --color11: #d5719f;
  --color12: #9a62f3;
  --color13: #e075df;
  --color14: #f98f9f;
  --color15: #f5dbc4;
  --window-bg: alpha(var(--background), 0.6);
  --module-bg: alpha(var(--background), 0.4);
  --border-color: var(--color11);
  --ws-active: var(--color9);
  --ws-inactive: var(--color3);
  --ws-empty: var(--color8);
  --ws-hover: var(--color1);
  --ws-urgent: var(--color12);
}

@import url(../../../.cache/material/colors.css);

#bar {
  background-color: @surface;
  padding: 3px;
}

#bar label {
  font-weight: bold;
}

#start-container,
#center-container,
#end-container {
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 12px;
  margin-right: 12px;
}

#battery {
  background-color: @surfaceContainer;
  border-radius: 100px;
  padding: 2px 10px 2px 10px;
}

#workspaces {
  border-radius: 100px;
  font-style: normal;
  background: @surfaceContainer;
  padding: 0px 10px 0px 10px;
}

#datetime {
  background-color: @surfaceContainer;
  border-radius: 100px;
  padding: 8px;
}

#applets {
  background-color: @surfaceContainer;
  border-radius: 100px;
  padding: 2px 10px 2px 10px;
  margin: 0px;
}

#applets .icon {
  color: @onSurface;
  font-weight: 900;
}

#applets > button {
  color: @onSurface;
  margin: 0px;
  padding: 0px;
}

#taskbar {
  border-radius: 100px;
  font-weight: bold;
  font-style: normal;
  color: @onSurface;
  background: @surfaceContainer;
  padding-left: 4px;
  padding-right: 4px;
}

#taskbar .activated {
  border-radius: 100px;
  background: @surfaceVariant;
}

#taskbar > button {
  padding: 0px 4px;
  margin: 4px 0px;
  border-radius: 100px;
  border: 0px;
}
#taskbar > button:last-child {
  margin-right: 0px;
}

#info {
  background-color: @surfaceContainer;
  border-radius: 100px;
  padding: 2px 10px 0px 10px;
}

#info > button {
  margin: 0px;
  padding: 0px;
}

#info .progress {
  color: lighter(@outlineVariant);
  border: 2px solid @onSecondaryContainer;
}

#material_icon,
#material_icon * {
  all: unset;
  font-family: "Material Symbols Outlined", "Material Symbols Sharp";
}

/* unset so we can style everything from the ground up. */
* {
  all: unset;
  color: @foreground;
  font-size: 16px;
  font-family: "Product Sans", Roboto, "Font Awesome 6 Free", Helvetica, Arial,
    sans-serif;
}

button {
  background-size: 400% 400%;
}

menu > menuitem > label {
  font-weight: 900;
}

/* system tray */
#system-tray {
  padding: 2px 4px;
  background-color: var(--module-bg);
}

/* menu and menu items (written for the system tray) */
menu {
  border: solid 2px;
  border-radius: 10px;
  border-color: var(--border-color);
  background-color: var(--window-bg);
}

menu > menuitem {
  border-radius: 0px;
  background-color: var(--module-bg);
  padding: 6px;
  margin-left: 2px;
  margin-right: 2px;
}

menu > menuitem:first-child {
  margin-top: 1px;
  border-radius: 8px 8px 0px 0px;
}

menu > menuitem:last-child {
  margin-bottom: 1px;
  border-radius: 0px 0px 8px 8px;
}

menu > menuitem:hover {
  background-color: var(--border-color);
}

tooltip {
  background-color: @surfaceContainer;
  border-radius: 11px;
  outline: none;
  border: none;
  box-shadow: none;
}

tooltip label {
  color: @onSurface;
  outline: none;
  border: none;
  box-shadow: none;
  font-weight: normal;
}
